.container {
    background-color: aquamarine;
    height: 100vh;
    display: grid;
}

.date {
    color: rgb(36, 155, 36);
    text-align: center;
    margin-top: 2rem;
}

.btn {
    background-color: rgba(0, 128, 0, 0.781);
    padding: 8vw 15vw;
    border-radius: .4rem;
    color: wheat;
    text-transform: uppercase;
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-weight: 900;
    font-size: 1.2rem;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
}

.btn:hover {
    background-color: rgba(0, 128, 0, 0.907);
}
