.login {
    display: grid;
    place-content: center;
    min-height: 90vh;
}
.formWrapper {
    background-color: rgb(234, 199, 145);
    width: 50vw;
    padding: .2rem .8rem;
}

.formHeading {
    margin: 1rem 0;
}

@media screen and (max-width: 700px) {
    .formWrapper {
        width: 65vw;
    }
}

@media screen and (max-width: 500px) {
    .formWrapper {
        width: 90vw;
    }
}

.row {
    margin: 4vh auto ;
}

.input {
    background-color: white;
    width: 100%;
}


.label {
    display: block;
    padding: .6rem 0;
}

.button {
    margin: 1.2rem auto;
    display: block;
    background-color: rgba(25, 134, 119, .8);
    cursor: pointer;
    padding: 1rem 1.8rem;
    color: wheat;
    border-radius: .4rem;
    transition: background-color 200ms ease-in-out;
}

.button:hover {
    background-color: rgba(25, 134, 119, 1);
}

.borrowersForm {
    background-color: rgb(234, 199, 145);
    padding: 1rem;
    margin: 4rem 0 2rem;
}

.toggleForm {
    position: relative;
    height: 13vh;
}

.addIcon {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 8vw;
    height: 10vw;
    fill: rgb(88, 119, 22);
    cursor: pointer;
}

.showForm {
  display: block;
}

.hideForm {
  display: none;
}

.calculator {
    width: 8vw;
    height: 8vw;
    fill: rgba(0, 128, 0, 0.52);
    position: fixed;
    left: 1px;
    top: 2px;
    z-index: 11;
    cursor: pointer;
    transition: fill 200ms ease-in-out;
}

.calculator:hover {
    fill: rgba(0, 128, 0, 0.6);
}

@media screen and ( max-width: 550px ) {
    .calculator {
        width: 10vw;
        height: 10vw;
    }
}

