
.salesDetails {
    display: grid;
    place-content: center;
    font-family: cursive;
}

.list {
    padding: 1rem;
    cursor: pointer;
    width: 70vw;
}

@media screen and (max-width: 400px) {
    .list {
        width: 90vw;
    }
}

.list li {
    margin: 1rem 0;
    padding: .5rem;
    background-color: rgb(195, 224, 223);

}

.alignLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.listItem {
    display: flex;
    justify-content: space-between;
    list-style-type: decimal;
    padding: 0 4vw;
}

.borrowers {
    color: rgb(0, 42, 255);
}